@model List<EmployeeManagement.ViewModels.LeaveViewModel>
    
<div class="row">
    <div class="col-sm-12">
        <table class="table p-3 border-dark text-center">

            <thead>
                <tr>
                    <th class="text-center" scope="col">Leave ID</th>
                    <th class="text-center" scope="col">Employee ID</th>
                    <th class="text-center" scope="col">Start Date</th>
                    <th class="text-center" scope="col">End Date</th>
                    <th class="text-center" scope="col">Approval Status</th>
                    @if (Convert.ToString(HttpContext.Current.Session["CurrentUserRole"]) == "Project Manager" || (Convert.ToString(HttpContext.Current.Session["CurrentUserRole"]) == "HR" && Convert.ToString(HttpContext.Current.Session["IsSpecialPermission"]) == "True"))
                    {
                        <th class="text-center" scope="col">Action</th>
                    }
                    </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    Html.RenderPartial("LeaveRequests", item);
                }


            </tbody>

        </table>
        
    </div>
</div>